.select-control {
  @apply input input-bordered w-[450px] !important;
}

.select-value-container {
  flex-wrap: nowrap !important;
  gap: 5px !important;
  overflow-x: auto !important;
}

.select-multivalue {
  flex-shrink: 0 !important;
}